<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Selector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/Mapping/MappingStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/ControlPanel/ControlPanelStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/Instructions/InstructionStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/SpeedMonitor/SpeedMonitorStyles.css') }}">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <h1 class="dashboard-title">Walter Dashboard</h1>
            <div class="button-group">
                <button class="layout-button active" data-layout="1">1</button>
                <button class="layout-button" data-layout="2">2</button>
                <button class="layout-button" data-layout="3">3</button>
                <button class="layout-button" data-layout="4">4</button>
            </div>
        </div>
        <div class="layout-container layout-1" id="layoutContainer">
            <div class="content-area">
                <p>Content Area 1</p>
            </div>
        </div>
    </div>
    
    <!-- Context menu and corresponding elements -->
    <div class="context-menu" id="contentMenu">
        <div class="menu-item" data-content="Mapping">Mapping</div>
        <div class="menu-item" data-content="ControlPanel">Control Panel</div>
        <div class="menu-item" data-content="Instructions">Instructions</div>
        <div class="menu-item" data-content="SpeedMonitor">Speed Monitor</div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='components/Mapping/MappingScripts.js') }}"></script>
    <script src="{{ url_for('static', filename='components/ControlPanel/ControlPanelScripts.js') }}"></script>
    <script src="{{ url_for('static', filename='components/Instructions/InstructionsScripts.js') }}"></script>
    <script src="{{ url_for('static', filename='components/SpeedMonitor/SpeedMonitorScripts.js') }}"></script>
    <script src="{{ url_for('static', filename='rosLaunch.js') }}"></script>
</body>
</html>